<?php $_code=$this->getMethodCode() ?>
<ul class="form-list" id="payment_form_<?php echo $_code ?>" style="display:none;">
    <li>
        <label for="<?php echo $_code ?>_giftcard_no" class="required"><em>*</em><?php echo $this->__('Card Number') ?></label>
        <span class="input-box">
            <input type="text" title="<?php echo $this->__('Card Number') ?>" class="input-text required-entry" id="<?php echo $_code ?>_giftcard_no" name="payment[giftcard_no]" value="<?php echo $this->htmlEscape($this->getInfoData('giftcard_no')) ?>" />
        </span>
    </li>
</ul>
<div>
    <?php echo $this->getMethod()->getConfigData('message');?>
</div>