<?php foreach ($this->getChildrenBlocks() as $block): ?>
    <?php if ($block->getData('__teamwork_giftcards_show_special_fields_')): ?>
        <div class="field-row"><b><?php echo $this->htmlEscape($block->getMethod()->getTitle()); ?></b></div>
        <?php if ($_specificInfo = $block->getSpecificInformation()):?>
            <div class="field-row">
                <table>
                    <?php foreach ($_specificInfo as $_label => $_value):?>
                        <tr>
                            <td><?php echo $this->escapeHtml($_label)?>:&nbsp;&nbsp;</td>
                            <td><?php echo nl2br(implode($block->getValueAsArray($_value, true), "\n"))?></td>
                        </tr>
                    <?php endforeach; ?>
                </table>
            </div>
        <?php endif; ?>
            <div class="field-row">
                <?php echo $block->getChildHtml('return_the_balance_button'); ?>
            </div>
    <?php else: ?>
        <?php echo $block->toHtml();?>
    <?php endif; ?>
    <div class="divider"></div>
<?php endforeach; ?>
