@CHARSET "UTF-8";

#card-info-container{width:550px;}
#card-info-container .card-info-no-container .container-no{width:420px; display:block; float:left;}
#card-info-container .card-info-no-container .container-no > label{display:block; float:left;}
#card-info-container .card-info-no-container .container-no > span{display:block; float:right;}
#card-info-container .card-info-no-container .container-no > span > input{width: 155px; text-align:right;}
#card-info-container .card-info-no-container .container-button{display:block; float:left; margin: 0 0 0 10px;}

#card-info-container .card-info-other #card-info-other-content{width:420px;}
#card-info-container .card-info-other #card-info-other-content .container > label{display:block; float:left;}
#card-info-container .card-info-other #card-info-other-content .container > span{display:block; float:right;}

#card-info-container .container, #card-info-container .container-no{margin:0px 0px 4px 0px;}
