<div class="container">
    <label><?php echo $this->__('Card balance'); ?>:&nbsp;&nbsp;</label>
    <span><?php echo $this->getCardBalance(); ?></span>
    <div class="clearer"></div>
</div>
<div class="container">
    <label><?php echo $this->__('Cart grand total'); ?>:&nbsp;&nbsp;</label>
    <span class="input-box"><?php echo $this->getCartGrandtotal(); ?></span>
    <div class="clearer"></div>
</div>
<div class="container">
    <label><?php echo $this->__('Card balance after order placing'); ?>:&nbsp;&nbsp;</label>
    <span><?php echo $this->getCardBalanceAfter(); ?></span>
    <div class="clearer"></div>
</div>
