<?php $_code = $this->getMethodCode(); ?>
<input type="hidden" value="<?php echo $_code; ?>" name="payment[method]" />
<h2><?php echo $this->__('Apply a Gift Card'); ?></h2>
<div class="tw-form-list">

<div id="card-info-container">

    <div class="card-info-no-container">
        <div class="container-no">
            <label for="<?php echo $_code ?>_giftcard_no" ><?php echo $this->__('Card number'); ?>:&nbsp;&nbsp;</label>
            <span>
                <input type="text" title="<?php echo $this->__('Card Number'); ?>" class="giftcard-number-input-box input-text" id="teamwork_gifcards_giftcard_no" name="payment[giftcard_no]" value="<?php echo $this->getCurentNo(); ?>" />
            </span>
            <div class="clearer"></div>
        </div>
        <div class="container-button">
            <button type="button" id="teamwork_giftcard_step-getcardinfo-button" title="<?php echo $this->__('Get Info') ?>" class="button refresh" onclick="teamwork_giftcard_step.getcardinfo('<?php echo $this->getUrl('teamwork_giftcards/checkout_onepage_giftcardsstep/getcardinfo'); ?>')"><span><span><?php echo $this->__('Get Info') ?></span></span></button>
            <span id="teamwork_giftcard_step-getting-card-info-please-wait" class="please-wait" style="display: none;">
                <img class="v-middle" title="Loading next step..." alt="Loading next step..." src=<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif'); ?>>Requesting info...</span>
            <div class="clearer"></div>
        </div>
        <div class="clearer"></div>
    </div>

    <div class="card-info-other">
        <div id="card-info-other-content">
            <?php echo $this->getChildHtml('teamwork_giftcard_step_formcontent_cardinfo'); ?>
        </div>
    </div>

    <div class="clearer"></div>
</div>


</div>
