<form id="co-teamwork_giftcard_step-form" action="">
<fieldset>
    <div id="checkout-teamwork_giftcard_step-load">
        <?php echo $this->getChildHtml('teamwork_giftcard_step_formcontent'); ?>
    </div>


    <div class="buttons-set" id="teamwork_giftcard_step-buttons-container">
        <!-- <p class="required"><?php echo $this->__('* Required Fields') ?></p>-->

        <p class="back-link">
            <a onclick="checkout.back(); return false;" href="#">
                <small>« </small>
                <?php echo $this->__("Back"); ?>
            </a>
        </p>



        <button type="button" id="teamwork_giftcard_step-skip-button" title="<?php echo $this->__('Apply and Continue') ?>" class="button" onclick="teamwork_giftcard_step.save()"><span><span><?php echo $this->__('Apply and Continue') ?></span></span></button>
        <button type="button" id="teamwork_giftcard_step-continue-button" title="<?php echo $this->__('Skip') ?>" class="button" onclick="teamwork_giftcard_step.skip()"><span><span><?php echo $this->__('Skip') ?></span></span></button>

        <span class="please-wait" id="teamwork_giftcard_step-please-wait" style="display:none;">
            <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->__('Loading next step...') ?>" title="<?php echo $this->__('Loading next step...') ?>" class="v-middle" /> <?php echo $this->__('Loading next step...') ?>
        </span>
    </div>
</fieldset>
</form>
<script type="text/javascript">
//<![CDATA[
    var teamwork_giftcard_step = new TeamworkGiftcardsStep('co-teamwork_giftcard_step-form','<?php echo $this->getUrl('teamwork_giftcards/checkout_onepage_giftcardsstep/save') ?>','<?php echo $this->getUrl('teamwork_giftcards/checkout_onepage_giftcardsstep/skip') ?>');
    var teamwork_giftcard_step_form = new VarienForm('co-teamwork_giftcard_step-form');
//]]>
</script>
